@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Outfit&display=swap');

@font-face {
  font-family: "Graphik";
  src: local("Graphik"),
   url("/src/assets/fonts/GraphikMedium.otf") format("truetype");
  font-weight: 500;
 }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
